# Assignment 2

In [ ]:
# 1.Create a variable age and assign it the value 25 . Then print the value of age along with its data type using the type() function

In [2]:
age = 23
print(age)
type(age)

23

int

In [1]:
# 2.Assign the number 12.5 to a variable price . Print both the variable and its data type. Then assign the value 12 to the same variable and print its data type again. What do you observe?

In [4]:
price = 12.5
print(price)
type(price)

12.5

float

In [5]:
price = 12
print(price)
type(price)

12

int

In [6]:
print("the first value 12.5 has a decimal so it a float while the second value 12 is a integar as it is a whole number.the decimal indiactes a float.")

the first value 12.5 has a decimal so it a float while the second value 12 is a integar as it is a whole number.the decimal indiactes a float.

In [ ]:
# 3.Create a variable is_raining and set it to True . Print the value of the variable along with its type. Then set is_raining to False and print the new value and type.

In [8]:
is_raining = True
print(is_raining)
type(is_raining)

True

bool

In [9]:
is_raining = False
print(is_raining)
type(is_raining)

False

bool

In [ ]:
# 4.Create a variable my_name and store your full name in it as a string. Then print the value of my_name using single quotes ' .

In [2]:
my_name = "'OMAR'"

print(my_name)

'OMAR'

In [ ]:
# 5.Write a Python program that asks the user for their name and age using the input() function. Store the inputs in variables and print a sentence like
#### "Hello, [Name]! You are [Age] years old." Ensure you cast the age to a integer.

In [3]:
name =str(input())
age =int(input())
x=f"Hello,{name}! You are {age} years old."
print(x)

 OMAR
 23

Hello,OMAR! You are 23 years old.

In [4]:
# 6.Create two variables x and y and assign them the values 10 and 3.5 , respectively. Print their values and types. 
#### Then, create a new variable sum_xy and store the sum of x and y . Print the result and its type.

In [21]:
x = 10
print(x)
type(x)

10

int

In [25]:
y = 3.5
print(y)
type(y)

3.5

float

In [24]:
sum_xy = x + y
print(sum_xy)
type(sum_xy)

13.5

float

In [ ]:
# 7.Using the type() function, check and print the data type of the following:
# 45.0
# "hello"
# None
# False

In [26]:
type(45.0)

float

In [27]:
type("hello")

str

In [28]:
type(None)

NoneType

In [29]:
type(False)

bool

In [ ]:
# 8.Write a Python program to print three strings "apple" , "banana" , and "cherry" on the same line, separated by a space. Then modify the program to separate the strings using a comma , instead of a space.

In [7]:
print("BANANA","PINEAPPLE","KIWI")

BANANA PINEAPPLE KIWI

In [ ]:
# 9.Create a variable big_number and assign it a very large integer value (e.g., 987654321987654321 ). Print the value and its type. What do you notice about the size of the number?

In [6]:
big_num = 93247994504441
print(big_num)
type(big_num)

93247994504441

int

In [ ]:
# 10.Write a Python program that prints the result of multiplying two floats (e.g., 2.5 and 3.7 ). Then check and print the data type of the result.

In [32]:
x = 2.5
y = 3.7
print(x+y)
type(x+y)

6.2

float